
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.label {
    padding: 6px 10px 3px;
}

.label a {
    color: inherit;
}

.bouteille {
    height: 375px;
}

.bouteille .nom {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
