{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Vente de rhum arrangé</title>

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/rhum.css' %}">
    </head>
    <body>

        <script src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        
        <!-- Barre de navigation -->
        <div class="container-fluid">
            
            <nav class="navbar navbar-default">

                <div class="navbar-header">
                    <button
                        type="button"
                        class="navbar-toggle collapsed"
                        data-toogle="collapse"
                        data-target="#navbar"
                        aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Rhum Express</a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">
                                Mon panier ({{ panier|length }} produit{{ panier|pluralize }})
                            </a>
                        </li>
                    </ul>
                </div>

            </nav>

        </div>

        <!-- Contenu -->
        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>

        <footer class="container-fluid text-center">
            <p style="font: 11px italic;">
                L'abus d'alcool est dangereux pour la santé, à consommer avec modération.
                <br>
                L'alcool ne doit pas être consommé par les femmes enceintes.
                <br>
                La vente d'alcool est interdite aux mineurs.
                <br>
                Vous certifiez avoir l'âge légal requis et la capacité juridique pour pouvoir acheter sur ce site Internet.
            </p>
        </footer>

    </body>
</html>
