{% load static %}

    <div class="col-sm-6 col-md-3">
        <div class="thumbnail bouteille">

            <img src="{% static "rhum/images/"|add:bouteille.image %}" alt="Une bouteille" />

            <div class="caption">
                
                <h4 class="nom" title="{{ bouteille.nom }}">
                    {{ bouteille.nom }}
                </h4>
                
                <p class="text-center">
                    
                    {% if bouteille.stock > 0 %}
                    <span class="label label-default">
                        {{ bouteille.stock }} en stock - {{ bouteille.prix }} €
                    </span>
                    {% else %}
                    <span class="label label-danger">Pas de stock</span>
                    {% endif %}

                </p>
               
                <p class="text-center">
                    <a 
                        href="#" 
                        class="btn btn-primary" 
                        role="button" 
                        data-index="{{ bouteille.id }}">
                        Ajouter au panier
                    </a>
                </p>
            </div>
        </div>
    </div>

