{% extends 'base.html' %}

{% block content %}

    {% include "popup-ajout-panier.html" %}

            <div>
                <h4>Bienvenue sur le site Rhum-Express</h4>
                <p>
                    Le site permet d'acheter du rhum arrangé par nos soins. À partir d'une base
                    de rhum blanc ou ambré, nous ajoutons nous-mêmes des fruits séchés que nous
                    laissons fermenter ensuite pendant quelques mois.
                </p>
            </div>

            <div id="produits" class="row">

            {% for produit in produits %}
                {% include "bouteille-thumbnail.html" with bouteille=produit only %}
            {% endfor %}

            </div>

<script type="text/javascript">

$(document).ready(function() {

    // Click sur l'ajout au panier
    $('#produits a').on('click', function() {
        var index = $(this).attr('data-index');
        // La fonction est définie dans le template popup-ajout-panier.html
        add_to_panier(index);
    });
});

</script>

{% endblock %}
