
    <div id="popup-ajout-panier" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-body">
                    <p>Voulez-vous ajouter ce produit au panier ?</p>
                    <p id="id-produit"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Annuler</button>
                    <button type="button" class="btn btn-primary">OK</button>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript">

function add_to_panier(id) {
    console.log('add_to_panier: ' + id);
    
    $('#id-produit').text(id);
    $('#popup-ajout-panier').modal('show');
}

    </script>
